body {
  max-width: 100%;
}
html {
  scroll-behavior: smooth;
}
/* header */
.container-logo {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5px 5%;
}
.menu-nav {
  color: #212529;
}
.row2{
  padding-right: 80px;
}
.line1, .line2, .line3 {
  width: 35px;
  height: 3px;
  margin: 5px;
  transition: all .4s;
  color: #4D7CFE;
}
.navbar{
  background: #252631;
}
.change .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
.fullwidth_image {
  background: url('images/bg.png');
  background-repeat: no-repeat;
  padding-top: 95px;
  padding-bottom: 50%;
  max-height: 650px;
  margin-bottom: 15%;
  background-size: cover;
  background-position: center;
}

img.introoo{
  position: relative;
  max-width: 100%;
  display: block;
  height: auto;
   
}

.introoo {
  position: absolute;
  left: 15%;
  top: 50%;
  z-index: 9;
  width: 70%;
}
img {
  max-width: 100%;
  height: auto;
}
.read {
  text-align: center;
}

.btn-btn-light {
  background: #F8FAFB;
  color: #4D7CFE;
  border-radius: 5px;
  width: 120px;
  height: 40px;

}

.navbar-cl{
  color: #F8FAFB;
  font-size: 20px;
}

div#navbarResponsive {
  margin: -7px;
}
#imglogo {
    margin-left: 100px;
    display: inline-block;
    float: none;
    max-height: 54%;
    margin-bottom: 0;
    vertical-align: middle;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    /* -webkit-transform: translate3d(0,0,0); */
}
.abcd .heading-d h2{
    font-size: 46px;
    line-height: 55px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 80px;
}

.abcd .btn-lead {
    background: #FFBA00 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 6px #0000001A;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    padding: 10px 40px;
    font-weight: 500;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 50px;
   
}

.abcd a:hover {
  color: #fff;
  text-decoration: none;
}

img#imglogo {
  max-width: 60%;
}

@media (max-width: 649px) { 
  img#imglogo {
    max-width: 350px;
    padding-left: 90px;
    margin-left: 0px;
  }
 }
 @media (max-width: 469px) { 
  img#imglogo {
    max-width: 250px;
    padding-left: 0px;
    margin-left: 0px;
  }
 }
 a.navbar-brand.js-scroll-trigger {
  margin: 0px;
}
@media (max-width:1546px) {
  img#imglogo{
    margin: 0px;
  }
  
}
@media (max-width:1442px) {
  .row2 {
    padding-right: 0px;
}
}
@media (max-width:1360px) {
  button.btn-btn-light.font-weight-bold.mx-lg-1 {
    max-width: 70%;
    font-size: 13px;
}
}

@media (max-width:1245px) {
  a.nav-link.navbar-cl.py-2.px-lg-2.px-sm-2.js-scroll-trigger {
    font-size: 18px;
    padding-right: 0px;
  }
}
 /* end header */

/* .lead-heading {
  margin-top: 50px;
} */

/* About */
.underline {
  width: 80px;
  border-bottom: 3px solid #FFBA00;
  margin: auto;
  padding-bottom: 20px;
}

.lead-about {
  /* font-size: 35px;
  text-align: center;
  margin: 65px; */
  color: #212529;
  padding-top: 30px;
  font-size: 25px;
  line-height: 35px;
  width: 66%;
  margin: 0px auto;
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
}
.row .about-content {
  padding: 15px 25px 15px 100px;
}
.row .about-content2 {
  padding: 15px 100px 15px 45px;
}
.ab {
  padding: 10px 10%;
}

/* end About */
/* Why us */
h2.page-section-heading.text-center.text-uppercase.mb-0.text-fn {
  margin-top: 60px;
}

.wu {
  padding: 10px 10%;
}
.page-section-heading {
  color: #212529;
}
/* end Why us */

/* services */
.ser {
  padding: 10px 10%;
}
.text-pd {
  padding: 2px 50px 10px 50px;
}
.text-fn{
  font-size: 35px;
}
/* services */
.list li{
  list-style: none;
  font-size: 20px;

}
/* How we work */

#HowWeWork .item-number div.number:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  left: 0;
  border-bottom: 2px solid #FFBA00;
}
.text-light2{
  color: #252631;
}
.number{
  font-size: 45px;
  color: #FFBA00;
  padding-left: 60px;
  position: relative;
}
.fn-text{
  font-size: 30px;
}

.row-item2 {
  flex-direction: row-reverse;
  align-items: center;
}

.row-item {
  display: flex;
  align-items: center;
  padding-left: 7%;
}
@media (max-width: 1012px) {
  .hww {
    padding-left: 80px 50px !important;
  }
}
@media (max-width: 576px) {
  .row.row-item2.text-light2 {
    padding: 5% !important;
  }
}

.endhww {
  color: #252631;
  text-align: center;
  padding: 80px 120px;
}

/* Team */
.team-caption {
  color: #252631;
}

.linkedin {
  color : #eee;
  background: #FFBA00;
  font-size: 40px;
  width: 100px;
}

.linkedin:hover {
  color: #eee;
}

.team-team ul li a {
  width: 50px;
  height: 50px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.team-list {
  padding: 10px 5%;
  padding-bottom: 90px;
}

.team_img{
  text-align: center;
}

.team_item .team-team ul {
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-top: 15px;
}
/* new and insight */
.new-video {
  list-style: none;
}

/* contact */
/* .contactus {
  background: url('images/bg.png');
  background-repeat: no-repeat;
  padding-top: 45px;
  max-height: 650px;
  background-size: 105%;
  background-position: center;
} */
.image-footer{
  z-index: 99;
  padding-top: -55px;
}
.mail {
  font-size: 27px;
  font-family: Roboto;
  font-weight: bold;
  color: #FFBA00;
}
.mail:hover {
  text-decoration: none;
  /* transition: all .5s; */
  color: #FFBA00;
}
.ctus {
  text-align: center;
  padding: 90px 10%;
}
.containerr {
  background: #252631;
  text-align: center;
  padding: 35px;
  color: #eee;
}
.contactus {
  background: #778CA2;
  text-align: center;
  padding: 35px;
  color: #eee;
}
.footer-logo {
  max-width: 25%;
  /* image-rendering: pixelated; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.text-footer {
  color: #FFBA00;
}

.linke{
  color : #eee;
  background: #FFBA00;
  font-size: 40px;
  list-style: none;
  border-radius: 15px;
  padding: 0 10px
}
.linke:hover {
  color : #eee;
  background: #FFBA00;
}


@media (max-width:576px) {
  .row .about-content {
    padding: 15px 25px;
}
  .row .about-content2 {
  padding: 15px 25px;
}
}

@media (max-width:768px) {
  .row .about-content {
    padding: 15px 25px;
}
  .row .about-content2 {
  padding: 15px 25px;
}
}